serial --speed=115200 --unit=0
terminal_input serial console
terminal_output serial console

set default=1
set timeout=0
#GRUB_GFXMODE=1024x768x16
pager=1
color_normal=light-blue/black
menu_color_normal=cyan/black
menu_color_highlight=light-cyan/black

menuentry "DOOM on CuBit (1024x768x32)" {
	multiboot /boot/cubit_kernel
    set gfxpayload=1024x768x32
    module /boot/filesystem.svc filesystem.svc
    module /boot/ata.drv ata.drv
    module /boot/doom_ramdisk.img init.img
    module /boot/doom.elf doom.elf
}

menuentry "DOOM from ATA (no ramdisk)" {
	multiboot /boot/cubit_kernel
    set gfxpayload=1024x768x32
    module /boot/filesystem.svc filesystem.svc
    module /boot/ata.drv ata.drv
    module /boot/doom.elf doom.elf
}

menuentry "Cubit OS (Text, C Hello)" {
	multiboot /boot/cubit_kernel
    set gfxpayload=text
    module /boot/hello.elf hello.elf
    module /boot/filesystem.svc filesystem.svc
}

menuentry "Cubit OS (Text, no modules)" {
	multiboot /boot/cubit_kernel
    set gfxpayload=text
}

menuentry "Cubit OS (Text)" {
	multiboot /boot/cubit_kernel
    set gfxpayload=text
    module /boot/ramdisk.drv ramdisk.drv
    module /boot/init.img init.img
}

menuentry "Cubit OS (1280x1024x32)" {
	multiboot /boot/cubit_kernel
    set gfxpayload=1280x1024x32
    module /boot/ramdisk.drv ramdisk.drv
    module /boot/init.img init.img
}

menuentry "Cubit OS (1024x768x32)" {
	multiboot /boot/cubit_kernel
    set gfxpayload=1024x768x32
    module /boot/ramdisk.drv ramdisk.drv
    module /boot/init.img init.img
}

menuentry "Cubit OS (800x600x32)" {
    multiboot /boot/cubit_kernel
    set gfxpayload=800x600x32
    module /boot/ramdisk.drv ramdisk.drv
    module /boot/init.img init.img
}

# menuentry "Cubit OS (1024x768x24)" {
# 	multiboot /boot/cubit_kernel
#     set gfxpayload=1024x768x24
# }

# menuentry "Cubit OS (1024x768x16)" {
# 	multiboot /boot/cubit_kernel
#     set gfxpayload=1024x768x16
# }
